.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  display: grid;
  grid-template-columns: 30em 1fr;
  height: 100%;
  overflow: hidden;
}

.sidebar {
  padding: 1em;
  overflow: hidden;
}

.content {
  padding: 1em;
  overflow-y: auto;
}
