.card {
  background-color: var(--card);
  color: var(--background);
  padding: 16px;
  border-radius: 8px;
  height: 10em;
}

.cspan-1 {
  grid-column: span 1;
}

.cspan-2 {
  grid-column: span 2;
}

.rspan-1 {
  grid-row: span 1;
}

.rspan-2 {
  grid-row: span 2;
  height: auto;
}